.container-fluid {
    padding-top: 75px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.timeline {
    min-height: 500px;
  }

.btn-space1 {
    margin-right: 15px;
}

.btn-space2 {
    margin-left: 15px;
}

.btn-space3 {
    margin-left: 30px;
}

.button {
    width:150px;
    height:50px;
    display: inline-block;
}